/**
 * @copyright   Animal Soil
 * @author      Erick de Jesus Hernandez Cerecedo (erick@nucliux.mx)
 * @version     2.0 (Noviembre 2020)
 * @since       2.0
 **/

.contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 10vh 10% 0;
    width: 80%;
    height: 188%;
    color: white;

    display: -webkit-flex;
    -webkit-align-items: flex-start;
    -webkit-justify-content: flex-start;
    background-image: url("../img/contacto__background.png");
    background-repeat: no-repeat;
    background-size: auto 105%;
    background-position: top;
}