/**
 * @copyright   Animal Soil
 * @author      Erick de Jesus Hernandez Cerecedo (erick@nucliux.mx)
 * @version     2.0 (Noviembre 2020)
 * @since       2.0
 **/

/* Importación de otros estilos */
@import "reset.css";
@import "menu.css";
@import "home.css";
@import "nosotros.css";
@import "servicios.css";
@import "equipo.css";
@import "proyectos.css";
@import "contacto.css";
@import "footer.css";

/* Tipografías */
@font-face{
    font-family: "Bebas-Regular";
    src: url("fonts/BebasNeue-Regular.ttf");
    font-weight: normal;
}

@font-face{
    font-family: "OpenSans-Bold";
    src: url("fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}

@font-face{
    font-family: "Roboto-Light";
    src: url("fonts/Roboto-Light.ttf");
    font-weight: lighter;
}

@font-face{
    font-family: "Roboto-Medium";
    src: url("fonts/Roboto-Medium.ttf");
    font-weight: bold;
}

@font-face{
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf");
    font-weight: normal;
}

/*Página*/
html, body{
    background-color: rgb(246, 250, 255);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.2vw;
}

.banner{
    font-family: "Bebas-Regular";
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    font-size: 5vw;
    /*margin: 0;*/
    color: white;
}

.subbanner{
    font-family: "Bebas-Regular";
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    font-size: 2.5vw;
    /*margin: 0;*/
    color: white;
}

.titulo{
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    font-size: 1.4vw;
    /*margin: 0;*/
    color: rgb(13, 71, 161);
}

.subtitulo{
    font-family: "Roboto-Light";
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    /*font-size: 1vw;
    margin: 0;*/
    color: rgba(80, 80, 80, 0.7);
}

.boton{
    font-family: "Roboto-Regular";
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    font-size: 1vw;
    color: white;
    cursor: pointer;
    padding: 1vh 1.5vw;
    border-radius: 1vw;
    border: 0;
    transition: all 0.5s ease;

    -webkit-appearance: none;
    background-color: rgb(246,154,0);
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,1);
}

.boton:focus{
    outline-style: none;
}

.link{
    display: flex;
    align-items: center;
    letter-spacing: 0.1vw;
    color: rgb(246,154,0);
}

.link img{
    width: 1.5vw;
}