/**
 * @copyright   Animal Soil
 * @author      Erick de Jesus Hernandez Cerecedo (erick@nucliux.mx)
 * @version     2.0 (Noviembre 2020)
 * @since       2.0
 **/

.home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 10vh 10% 0;
    width: 80%;
    height: 90%;
    color: white;

    display: -webkit-flex;
    -webkit-align-items: flex-start;
    -webkit-justify-content: flex-start;
    background-image: url("../img/home__background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home__banner{
    margin-top: 25vh;
}

.home__opciones{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 24vw;
    margin-top: 2vh;
}

.home__redes img{
    width: 1.5vw;
    margin: 0 1vw;
    cursor: pointer;
}

.home__redes div{
    background-color: white;
    height: 0.5vh;
    width: 10vw;
}

.home__redes{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    right: 0;
    bottom: 20vh;
}
