/**
 * @copyright   Animal Soil
 * @author      Erick de Jesus Hernandez Cerecedo (erick@nucliux.mx)
 * @version     2.0 (Noviembre 2020)
 * @since       2.0
 **/

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;
 	height: 10vh;
 	padding: 0 10vw;
    position: fixed;
    color: rgb(128, 128, 128);
 	z-index: 15;

 	-webkit-align-items: center;
 	-webkit-justify-content: space-between;
 	background-color: rgba(236,239,241,0.9);
}

.menu-dark{
    background-color: rgba(236,239,241,0);
    color: white;
}

.menu__logo{
    width: 14vw;
}

.menu__lista{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    list-style-type: none;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    letter-spacing: 0.1vw;
    padding: 0;

    -webkit-align-items: center;
 	-webkit-justify-content: space-between;
}


.menu__opcion{
    width: 8vw;
    cursor: pointer;
    text-align: center;
}

.menu__opcion-logo{
    width: 14vw;
}