/**
 * @copyright   Animal Soil
 * @author      Erick de Jesus Hernandez Cerecedo (erick@nucliux.mx)
 * @version     2.0 (Noviembre 2020)
 * @since       2.0
 **/

.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 10vh 10% 0;
    width: 80%;
    height: 90%;
    color: white;

    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: flex-start;
    background-image: url("../img/nosotros__background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nosotros__titulo{
    margin-top: 4vh;
}

.nosotros__subtitulo{
    margin-top: 2vh;
}

.nosotros__texto{
    width: 46vw;
    text-align: center;
    font-family: "Roboto-Light";
    letter-spacing: 0.2vw;
    line-height: 2;
    margin-top: 10vh;

    color: rgba(80, 80, 80, 0.7);
}

.nosotros__imagen{
    width: 4vw;
    margin-top: 10vh;
    opacity: 0.6;
}