/**
 * @copyright   Animal Soil
 * @author      Erick de Jesus Hernandez Cerecedo (erick@nucliux.mx)
 * @version     2.0 (Noviembre 2020)
 * @since       2.0
 **/

.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 10vh 10% 0;
    width: 80%;
    height: 90%;
    color: white;

    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: flex-start;
    background-image: url("../img/proyectos__background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.proyectos__contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    width: 90%;
    height: 80%;
    margin-top: 4vh;

    /*background-color: cornflowerblue;*/
}

.proyectos__opcion-a{
    width: 33%;
    height: 59%;
    margin-bottom: 0.4%;

    /*background-color: firebrick;*/
}

.proyectos__opcion-b{
    width: 49.7%;
    height: 40%;

    /*background-color: firebrick;*/
}

.proyectos__opcion-c{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;    
}

.proyectos__min-a{
    width: 100%;
    height: 60%;
    /*background-color: gold;*/
}

.proyectos__min-b{
    width: 100%;
    height: 39%;
    /*background-color: gold;*/
}

.proyecto{
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,1);

    background-image: url("../img/equipo__background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}