/**
 * @copyright   Animal Soil
 * @author      Erick de Jesus Hernandez Cerecedo (erick@nucliux.mx)
 * @version     2.0 (Noviembre 2020)
 * @since       2.0
 **/

.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 10vh 10% 0;
    width: 80%;
    height: 90%;
    color: white;

    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: flex-start;
    background-image: url("../img/servicios__background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.servicios__slider{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 65vh;
    margin-top: 4vh;
    /*background-color: royalblue;*/
}

.servicios__slide{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 32%;
    height: 100%;

    /*background-color: salmon;*/
}

.servicios__slide-duple{
    justify-content: space-between;
}

.servicios__servicio{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
    width: 100%;
    height: 48%;

    /*background-color: crimson;*/
}

.servicio__imagen{
    width: 100%;
    height: 65%;
    background-image: url("../img/equipo__background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
}

.servicio__imagen-duple{
    width: 40%;
    height: 100%;
}

.servicio__mintext{
    font-family: "Roboto-Medium";
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    font-size: 1vw;
    margin: 2vh 0 0 0.5vw;
    color: rgba(80, 80, 80, 0.7);   
}

.servicio__titulo{
    font-family: "Roboto-Medium";
    letter-spacing: 0.1vw;
    font-size: 2vw;
    margin: 2vh 0 0 0.5vw;
    color:black;
}

.servicio__vermas{
    display: flex;
    align-items: center;

    font-family: "Roboto-Medium";
    letter-spacing: 0.1vw;
    font-size: 1vw;
    margin: 3vh 0 0 0.5vw;
    color: black;
}

.servicio__vermas-duple{
    margin: 12vh 0 0 0.5vw;
}

.servicio__vermas img{
    width: 4vw;
    margin: 0 0 0 0.1vw;
}

.servicio__informacion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tarjeta{
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,1);
}